body {
  background-color: #073763;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
}

button {
  background-color: white;
  color: #03193c;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #03193c;
  color: white;
}

#output {
  display: none; /* Oculta o elemento inicialmente */
  width: 50%;
  text-align: left;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #bf9000; /* Adiciona a borda na cor #bf9000 */
  border-radius: 5px; /* Arredonda os cantos da borda */
  background-color: rgba(3, 25, 60, 150);
}

#background-image {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
  width: 20%;
}
